@import './base.css';

#app {
  
}


.el-aside{
  --el-aside-width:auto;
}

.el-menu-item a {
  text-decoration: none;
  width: 100%;
  color: var(--el-menu-text-color);
  overflow: hidden;
}

a.router-link-exact-active {
    color: var(--el-menu-active-color);
}
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.dialog-overlay{
  z-index: 99 !important;
}
